<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PciRoot(0x0)/Pci(0x14,0x0)</key>
	<dict>
		<key>AAPL,clock-id</key>
		<data>
		AA==
		</data>
		<key>AAPL,current-available</key>
		<data>
		sAQ=
		</data>
		<key>AAPL,current-extra</key>
		<data>
		vAI=
		</data>
		<key>AAPL,current-in-sleep</key>
		<data>
		6AM=
		</data>
		<key>built-in</key>
		<data>
		AA==
		</data>
		<key>device_type</key>
		<string>XHCI</string>
	</dict>
	<key>PciRoot(0x0)/Pci(0x1f,0x3)</key>
	<dict>
		<key>MaximumBootBeepVolume</key>
		<data>
		AA==
		</data>
		<key>PinConfigurations</key>
		<data>
		AA==
		</data>
		<key>hda-gfx</key>
		<data>
		b25ib2FyZC0xAA==
		</data>
		<key>layout-id</key>
		<data>
		OAAAAA==
		</data>
	</dict>
	<key>PciRoot(0x0)/Pci(0x1f,0x6)</key>
	<dict>
		<key>built-in</key>
		<data>
		AQ==
		</data>
	</dict>
	<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
	<dict>
		<key>@0,backlight-control</key>
		<data>
		AQAAAA==
		</data>
		<key>AAPL,Gfx324</key>
		<data>
		AQAAAA==
		</data>
		<key>AAPL,GfxYTile</key>
		<data>
		AQAAAA==
		</data>
		<key>AAPL,HasLid</key>
		<data>
		AQAAAA==
		</data>
		<key>AAPL,HasPanel</key>
		<data>
		AQAAAA==
		</data>
		<key>AAPL,backlight-control</key>
		<data>
		AQAAAA==
		</data>
		<key>AAPL,ig-platform-id</key>
		<data>
		AAAWWQ==
		</data>
		<key>AAPL00,DualLink</key>
		<data>
		AQ==
		</data>
		<key>AAPL00,PanelCycleDelay</key>
		<data>
		+gAAAA==
		</data>
		<key>AAPL00,PanelPowerDown</key>
		<data>
		PAAACA==
		</data>
		<key>AAPL00,PanelPowerOff</key>
		<data>
		EQAAAA==
		</data>
		<key>AAPL00,PanelPowerOn</key>
		<data>
		GQEACA==
		</data>
		<key>AAPL00,PanelPowerUp</key>
		<data>
		MAAAAA==
		</data>
		<key>class-code</key>
		<data>
		AAADAA==
		</data>
		<key>device-id</key>
		<data>
		FlkAAA==
		</data>
		<key>graphic-options</key>
		<data>
		DAAAAA==
		</data>
		<key>hda-gfx</key>
		<data>
		b25ib2FyZC0xAA==
		</data>
		<key>model</key>
		<string>Intel HD Graphics 620</string>
		<key>subsystem-vendor-id</key>
		<data>
		axAAAA==
		</data>
		<key>vendor-id</key>
		<data>
		hoAAAA==
		</data>
	</dict>
</dict>
</plist>
